table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  cursor: pointer;
  background-color: #1c1c1c !important;
}

tr:nth-child(odd) {
  background-color: #2f2f2f;
}

tr:nth-child(even) {
  background-color: #363636;
}

tr:hover {
  background-color: #404040;
}

.actions a {
  color: white;
}

.actions a {
  margin-right: 5px;
}

.actions a:nth-child(2) {
  color: #ff5b5b;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.headerContainer a {
  cursor: pointer;
  padding: 10px 20px;
  font-family: "Poppins";
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: white;
  background-color: rgba(0, 92, 0, 0.322);
}
.zoekInput {
  margin-bottom: 20px;
  width: 40%;
  font-family: "Poppins";
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  border: none;
  outline: none;
}

/* Modal */
.overlay {
  position: absolute;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.816);
  align-items: center;
  justify-content: center;
  height: 100%;
}

.overlayForm {
  background-color: white;
  color: black;
  padding: 20px;
}

.overlayForm a,
.overlayForm button {
  padding: 5px 10px;
  background-color: rgb(56, 56, 56);
  border-radius: 4px;
  color: white;
  margin: 0 2px;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
}

.overlayButtonsContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
